tarteaucitron {
    font-weight: bold;
    color: #00A000;
}

tarteaucitron:before {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 4px;
    content: '';
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBmaWxsPSJjdXJyZW50Q29sb3IiIGQ9Ik00ODQuMSAyNy45QzQ1Ni0uMiA0MTYuMS04LjEgMzg3LjEgOC45IDM0Ny42IDMxLjggMjIzLjUtNDEuMSA5MS4yIDkxLjItNDEuMyAyMjMuNyAzMS45IDM0Ny41IDguOSAzODcuMWMtMTYuOSAyOS4xLTkuMSA2OC45IDE5IDk3LjEgMjguMSAyOC4xIDY4IDM1LjkgOTcuMSAxOSAzOS40LTIzIDE2My42IDUwIDI5NS45LTgyLjMgMTMyLjUtMTMyLjUgNTkuMy0yNTYuMyA4Mi4zLTI5NS45IDE2LjktMjkuMSA5LjEtNjguOS0xOS05Ny4xem0tMjIuNCA3Mi45Yy0zOC44IDY2LjYgNDUuNiAxNjUuNi03NC44IDI4Ni4xLTEyMC40IDEyMC40LTIxOS41IDM2LTI4Ni4xIDc0LjgtMjIuNyAxMy4yLTY0LTI3LjItNTAuNS01MC41IDM4LjgtNjYuNi00NS42LTE2NS42IDc0LjgtMjg2LjFDMjQ1LjYgNC43IDM0NC42IDg5LjEgNDExLjIgNTAuM2MyMi43LTEzLjIgNjQgMjcuMyA1MC41IDUwLjV6bS0xNjkuOSA4LjdjMS40IDExLTYuNCAyMS0xNy40IDIyLjMtNTQuOCA2LjktMTM1LjggODcuOC0xNDIuNiAxNDIuNi0xLjQgMTEtMTEuNCAxOC43LTIyLjMgMTcuNC0xMS0xLjQtMTguNy0xMS40LTE3LjQtMjIuMyA5LjItNzMuMyAxMDQuMi0xNjguMiAxNzcuNC0xNzcuNCAxMS0xLjQgMjEgNi40IDIyLjMgMTcuNHoiLz48L3N2Zz4=');
}
